section {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(94, 82, 65, 0.354)100%), url('../img/capa-jackiechan.jpg');
    background-size: cover;
    height: 90vh;
}

.capa-filme {
    height: 600px;
    padding: 5rem;
}

.sinopse {
    width: 60%;
}

.detalhes h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.detalhes p {
    font: 10px;
    font-style: italic;
    margin-bottom: 40px;
}

.sinopse h3 {
    margin-bottom: 8px;
}

.sinopse p {
    font-style: normal;
}