:root {
    --vermelho: #EE1C25;
    --dourado: #FFFF00;
    --preto: #141414;
}

@media screen and (max-width: 800px){
    header .container{
        display: flex;
        align-items: center;
    }

    .filme-principal .button {
        width: 300px;
    }

    .filme-principal .buttons {
        margin-bottom: 100px;
    }

    .menu {
        visibility: visible;
        display: block;
    }
    .checkbox-wrapper input {
        visibility: visible;
        display: block;
    }

    nav {
        display: none;
    }

    .menu {
        visibility: visible;
    }
    .checkbox-wrapper input {
        visibility: visible;
    }

    /* menu hamburguer */

    .checkbox-conatiner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checkbox {
        height: 100px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        transition: 400ms ease-in-out;
    }
    .checkbox .trace {
        width: 50px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }
    .checkbox .trace:nth-child(1) {
        top:26px;
        transform: rotate(0);
    }
    .checkbox .trace:nth-child(2) {
        top:46px;
        transform: rotate(0);
    }
    .checkbox .trace:nth-child(3) {
        top:66px;
        transform: rotate(0);
    }
    #toggle {
        display: none;
    }
    
    /* Menu */
    
    .menu {
        position: absolute;
        top: 28px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 10px;
        text-align: center;
        border-radius: 50%;
        box-shadow:  0px 0px 0px 0px #ffffff;
        z-index: -1;
        transition: 400ms ease all 0s;
    }
    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        visibility: hidden;
        transition: 600ms ease all 0s;
    }
    .menu-items ul {
        list-style-type: none;
    }

    .menu-items li {
        margin: 15px;
    }
    
    .menu-items ul li a {
        margin: 10px;
        color: #ffffff;
        text-decoration: none;
        font-size: 40px;
        visibility: visible;
    }
    
    /* Menu Hamburguer Animation */
    
    #toggle:checked + .checkbox .trace:nth-child(1) {
        transform: rotate(-45deg);
        top: 47px;
        background-color: #ffffff;
    }
    #toggle:checked + .checkbox .trace:nth-child(2) {
        transform: scale(0);
        width: 30px;
        visibility: hidden;
        opacity: 0;
    }
    #toggle:checked + .checkbox .trace:nth-child(3) {
        transform: rotate(45deg);
        top: 48px;
        background-color: #ffffff;
    }
    
    #toggle:checked + .checkbox {
        background-color: var(--preto);
    }
    
    #toggle:checked ~ .menu {
        box-shadow: 0px 0px 0px 100vmax var(--preto);
        z-index: 1;
    }
    
    #toggle:checked ~ .menu-items {
        visibility: visible;
        opacity: 1;
    }
}