@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --vermelho: #EE1C25;
    --dourado: #FFFF00;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--preto);
    color: rgb(255, 255, 255);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

header .logo .j {
    color: var(--dourado);
}

header nav a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    margin-right: 10px;
    font-size: 14pt;
}

header nav a:hover {
    color: white;
}

/* menu hamburguer hidden */

.menu {
    visibility: hidden;
    display: none;
}
.checkbox-wrapper input {
    visibility: hidden;
    display: none;
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0, 0, 0, 0.354)100%), url('../img/capa-jackiechan.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 30px;
    width: 50%;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 23%;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.filme-principal .button {
    border-radius: 5px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0,.50);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.filme-principal .button:hover {
    background-color: white;
    color: black;
}

.filme-principal .button i {
    margin-right: 15px;
}

.carrosel-filmes {
    padding: 5px;
}

.carrosel-filmes .topic-carrosel {
    padding: 15px;
    font-size: 20pt;
    text-transform: uppercase;
    color: rgb(176, 176, 176);
}

.carrosel-filmes .box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 70px;
}

.foot span {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}